<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192112502374-c7mj8a6492ci5n692cr636tnirte58i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192112502374-c7mj8a6492ci5n692cr636tnirte58i9</string>
	<key>API_KEY</key>
	<string>AIzaSyCvU1bnFdFCkTuMBMxtIiIEA3LWSkbW3Nw</string>
	<key>GCM_SENDER_ID</key>
	<string>192112502374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FireStoreProject</string>
	<key>PROJECT_ID</key>
	<string>firestoreproject-df71a</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoreproject-df71a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192112502374:ios:feedb740018f80255fefa7</string>
</dict>
</plist>